.forest{
    width:50rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 15rem;
    border-radius: 3rem;
}
.telegram{
    width:5rem;
}
.github{
    width:9rem;

}
.gitelegram{
    display:flex;
    align-items:center;
    justify-content:center;
}